// ARQUIVO: src/app/home/home.page.scss

.result {
  margin-top: 20px;
  background: var(--ion-color-light-shade);
  border-radius: 8px;

  h1 {
    font-weight: bold;
    color: var(--ion-color-primary);
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 300;
  }

  p {
    font-size: 0.9rem;
    color: var(--ion-color-medium-shade);
  }
}